$africa:#7d7569;
$europe:#507892;
$oceania:#72af7e;
$namerica:#a60947;
$samerica:#ff5b3a;
$americas:#ff5b3a;
$asia:#ffce4b;

$hungary:#CE1126;
$germany:#00A651;//#FFCC00;
$italy:#18B9F8;
$unitedkingdom:#00247D;
$france:#007FFF;
$austria:rgb(237,41,35);
$belgium:#FF0808;
$netherlands:#FF4F00;
$sweden:#005B99;
$spain:#E60026;
$bulgaria:#00966E;
$poland:#DC143C;
$greece:#0D5EAF;
$denmark:#C60C30;
$portugal:#006600;
$finland:#003580;
$ireland:#009B48;
$cyprus:#D87503;
$malta:#DE0124;
$czechrepublic:#11457E;
$romania:#FCD116;
$luxembourg:#00A1DE;
$lithuania:#006A44;
$latvia:#9E3039;
$slovenia:#005DA3;
$estonia:#4891D9;
$slovakia:#EE1C25;
$croatia:#171695;

.gray {
	stop-color:#dcdcdc;
	fill:#dcdcdc;
	fill-opacity:1;
}

.africa {
	stop-color:$africa;
}
.europe {
	stop-color:$europe;
}
.americas {
	stop-color:$americas;
}
.namerica {
	stop-color:$namerica;
}
.samerica {
	stop-color:$samerica;
}
.oceania {
	stop-color:$oceania;
}
.asia {
	stop-color:$asia;
}

$countries-list: hungary, germany, italy, unitedkingdom, austria, france, belgium, netherlands, sweden, spain, bulgaria, denmark, greece, poland, portugal, finland, ireland,cyprus,malta,czechrepublic,romania,luxembourg,lithuania,latvia,slovenia,estonia,slovakia,croatia;
$colors-list: $hungary, $germany, $italy, $unitedkingdom, $austria, $france, $belgium, $netherlands, $sweden, $spain, $bulgaria, $denmark, $greece, $poland, $portugal, $finland,$ireland,$cyprus,$malta,$czechrepublic,$romania,$luxembourg,$lithuania,$latvia,$slovenia,$estonia,$slovakia,$croatia;
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .#{nth($countries-list, $i)} {
        stop-color: $current-color;
        fill: $current-color;
    }
}
