svg.zankey-diagram {
	
	path {
		stroke:#333;
		stroke-width:1;
		stroke-opacity: 0.9;
		fill:none;
	}

	path.opaque {
		stroke-opacity: 0.1;
	}

	

	.country {
		text {
			@include fs-textSans(1);
		}
		text.hidden {
			display: none;
		}
		&.highlight {
			text,
			text.hidden {
				display: block;
				font-weight: bold;	
			}
			
		}

		rect.africa {
			fill:$africa;
		}
		rect.europe {
			fill:$europe;
		}
		rect.namerica {
			fill:$namerica;
		}
		rect.samerica {
			fill:$samerica;
		}
		rect.oceania {
			fill:$oceania;
		}
		rect.asia {
			fill:$asia;
		}

		rect.bg {
			opacity: 0;
		}

		
	}

	.from {
		.country {
			text {
				text-anchor:end;
			}
		}
	}

	.flows {
		.flow.hidden {
			path {
				//stroke-opacity:0.1;	
			}
		}
		.flow.highlight {
			path {
				stroke-opacity:0.9;	
			}
		}
	}

}