svg.zankey-diagram {
	
	//background-color: #ddd;
	

	path {
		stroke:#333;
		stroke-width:1;
		stroke-opacity: 0.9;
		fill:none;
	}

	path.opaque {
		stroke-opacity: 0.1;
	}

	

	.country {
		text {
			@include fs-textSans(1);
			fill:#767676;
		}
		text.hidden {
			display: none;
		}
		&.highlight {
			text,
			text.hidden {
				display: block;
				fill:black;
			}
		}


		rect.africa {
			fill:$africa;
		}
		rect.europe {
			fill:$europe;
		}
		rect.namerica {
			fill:$namerica;
		}
		rect.samerica {
			fill:$samerica;
		}
		rect.americas {
			fill:$samerica;
		}
		rect.oceania {
			fill:$oceania;
		}
		rect.asia {
			fill:$asia;
		}

		rect.bg {
			opacity: 0;
		}

		
	}

	.from {
		.country {
			text {
				text-anchor:end;
			}
		}
	}

	.flows {
		text {
			@include fs-textSans(1);
			fill:#000;
			visibility: hidden;
		}
		text.to {
			text-anchor:end;
		}
		.flow.hidden {
			path {
				stroke-opacity:1;
				stroke:#eee !important;
			}
		}
		.flow.highlight {
			path {
				stroke-opacity:0.9;
			}
		}
		.flow.from {
			text.to {
				visibility: visible;
			}
		}
		.flow.to {
			text.from {
				visibility: visible;
			}
		}
	}
	
	&.highlight {
		.from,
		.to {
			.highlight {
				text {
					visibility: visible;
				}
			}	
		}
		
		.from text,
		.to text {
			visibility: hidden;
		}
	}

	.legend {
		text {
			@include fs-textSans(1);
			font-size: 11px;
			fill:#767676;
			text-anchor:end;
		}
		text.to {
			text-anchor:start;
		}
		line {
			stroke-width:1;
			stroke:#767676;
			shape-rendering:crispEdges;
		}
	}
}